.category_section {
  display: flex;
  flex-wrap: warp;
  justify-content: center;
  color: white;
}

.expandLink {
  position: relative;
  z-index: 1;
  display: block; /* Make it fill the container */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  text-decoration: none; /* Remove underline */
}

.box_content {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.a-tag {
  color: white;
  width: 100%;
}

.a-tag:hover {
  color: white;
  text-decoration: none;
}

.emoji {
  margin: 0!important;
  font-size: 2.5rem;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}

.beige {
  background-color: #98aeb6;
}

.grey {
  background-color: grey;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

/* Section 2 */
.emotion_div {
  color: white;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
